*{
  box-sizing: border-box;
}

html {
  margin: 0px;
  background: #000;
  color: rgb(33, 31, 31);
  padding: 0;
}

body { 
  background: rgb(146, 165, 20);
  padding-bottom: 20px;
}

p {
  text-align: center;
  background: rgb(31, 29, 29);
  color: #000;
}

form {
  background: rgba(198, 196, 209, 0.884);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #000;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(194, 204, 206);
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  border: #CCC
}

#botones {
  margin-top: 10px;
}

#botones button{
  padding: 8px;
  border-radius: 10px;
  border:0;

}
#botones button:hover {
  background: rgb(87, 83, 83);
  color: #fff;
  cursor: pointer;
}

 table {
  width: 100%;
  border-collapse: collapse;
 } 
 td,th {
  border:1px solid rgb(190, 190, 184);
 }